<nav class="fixed top-0 z-50 w-full border-b border-gray-200">
  <div class="px-3 py-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start gap-x-3">
        <button type="button" class="flex items-center">
          <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon>
        </button>
        <div>Logo</div>
      </div>

      <div>
        <button class="flex border p-1 rounded-full focus:ring-4">
          <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
        </button>
      </div>
    </div>

  </div>
</nav>

<app-navigation-menu />

<main class="p-4 sm:ml-64">
  <div class="p-4 mt-12">
    <router-outlet></router-outlet>
  </div>
</main>
